# MLflow Configuration
MLFLOW_TRACKING_URI=http://localhost:5000
MLFLOW_EXPERIMENT_NAME=student_performance_prediction

# Model Configuration
MODEL_NAME=student_performance_model
MODEL_STAGE=Production

# Application Configuration
FLASK_PORT=8080
FLASK_HOST=0.0.0.0
